{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block content %}
<h1>Шаблон викторины</h1><br>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-4">
        {{ macros.quiz(form.title, true, true, "Название викторины") }}
        </div>
    <div class="mb-8">
          <label for="questionFields" class="form-label">Вопросы:</label>
          <div id="questionFields">
              {% for question in form.content.entries %}
            <div class="questionField">
                <div class="row mb-2">
                    <div class="col-4">
                    {{ macros.quiz(question.form.question, false, false, "Текст вопроса") }}
                    </div>
        <div class="ml-3">
            <div class="mb-3">
        <label for="answerFields" class="form-label">Варианты ответа:</label>
        <div id="answerFields">
            {% for answer in question.form.answer %}
        <div class="answerField">
          <div class="row mb-2">
            <div class="col-">
                {% if answer == question.form.answer[0] %}
              {{ macros.quiz(answer, false, false, "Правильный ответ") }}
                {% else %}
              {{ macros.quiz(answer, false, false, "Ложный ответ") }}
                {% endif %}
            </div>
          </div>
        </div>
            {% endfor %}
      </div>
          </div>
       </div>
        </div>
        </div>
          {% endfor %}
      </div>
        <div class="mb-3">
      <div class="form-text">
        <button type="button" onclick="addQuestion()">Добавить вопрос</button>
      </div>
        </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <input type="submit" class="form-control" value="Сохранить" />
      </div>
    </div>
    </form>
{% if message %}
    <div class="alert alert-warning" role="alert"> {{ message }}</div>
{% endif %}
<script>
    function addQuestion() {
        const questionFields = document.getElementById('questionFields');
        const firstQuestion = document.querySelector('.questionField');
        const newIndex = questionFields.querySelectorAll('.questionField').length;
        const newQuestion = document.createElement('div');
        newQuestion.classList.add('questionField');
        newQuestion.innerHTML = firstQuestion.innerHTML.replace(/content-0/g, `content-${newIndex}`);
        questionFields.appendChild(newQuestion);
    }
</script>
{% endblock %}
